section.content {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 6rem;
	padding: 2px;
	margin: 2px;
}

a {
	text-decoration: none;
	color: dodgerblue;
}
